page-pedidos {
  textarea{
    height: 112px;
    resize: none;
  }
  .item-label-stacked .text-input-md, .item-label-floating .text-input-md{
    margin-left: 0;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .list-md {
    margin: 0px 0 0px;
  }
  .label-md {
    margin: 5px 1px 5px 0;
  }
  .label-md[stacked] {
    font-size: 1.4rem;
  }
  .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    color: #3c3c3c;
  }
  .grid.grilla-pedidos{
    .item-block{
      min-height: 2.3rem !important;
    }
    .item-md{
      font-size: 1.4rem !important;
    }
  }
  .titulos{
    font-size: 1.5rem !important;
    font-weight: bold !important;
    text-align: center !important;
  }
  .remarcados{
    background: color($colors, amarrillo-claro);
  }
  .grillas{//amarillo-grid
    background: color($colors, amarillo-grid);
  }
  .wrap{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }
}
