// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.menu-lateral{
  margin-top: 55px;
  margin-bottom: 55px;
  margin-left: 10px;
}
.imagen-fondo{
  height: auto;
  width: 100%;
  position: absolute;
  z-index: -10
}
.texto-menu a{
  color: white;
  width: 100%;
  text-decoration: none;
}
.contenido{
  top: 5px !important;
}
.items-menu{
  border-bottom: 0px solid #dedede !important;
  padding: 2px;
}
.label-md[stacked]{
  font-size: 1.1rem !important;//todo: tamanio de fuente
}
.item-md{
  font-size: 1.1rem !important;//todo: tamanio de fuente
}
.grid .item-md{
  font-size: 1.1rem !important;//todo: tamanio de fuente
}
.md{
  font-size: 1.1rem !important;
}
@media (min-width: 550px) {
  .label-md[stacked]{
    font-size: 1.6rem !important;//todo: tamanio de fuente
  }
  .item-md{
    font-size: 1.6rem !important;//todo: tamanio de fuente
  }
  .grid .item-md{
    font-size: 1.6rem !important;//todo: tamanio de fuente
  }
  .md{
    font-size: 1.6rem !important;
  }
}
@media (min-width: 1000px) {
  .label-md[stacked]{
    font-size: 1.8rem !important;//todo: tamanio de fuente
  }
  .item-md{
    font-size: 1.8rem !important;//todo: tamanio de fuente
  }
  .grid .item-md{
    font-size: 1.8rem !important;//todo: tamanio de fuente
  }
  .md{
    font-size: 1.8rem !important;
  }
}

.icon-floppy-disk:before {
  content: "\e962";
}
.itm-img{
  padding: 3px 3px 3px 3px;
}

