page-nuevo-producto {
  .item-label-stacked .text-input-md, .item-label-floating .text-input-md{
    margin-left: 0;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .list-md {
    margin: 0px 0 0px;
  }
  .label-md {
    margin: 5px 1px 5px 0;
  }
  .label-md[stacked] {
    font-size: 1.2rem;
  }
  .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    color: #3c3c3c;
  }
  .grillas{//amarillo-grid
    background: color($colors, amarillo-grid);
  }
  .grid{
    .item-block{
      min-height: 2.3rem !important;
    }
    .item-md{
      font-size: 1.2rem !important;//todo: tamanio de fuente
    }
  }

}
