<!--
  Generated template for the NuevoProductoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="cafe-claro">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Registrar Nuevo Producto</ion-title>

  </ion-navbar>

</ion-header>
<ion-content style="background: none transparent;">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label stacked>Código Artículo</ion-label>
            <ion-input autofocus #idCodigoArticulo type="text" [(ngModel)]="codigoArticulo"
                       (ngModelChange)="codigoArticulo = $event.toLocaleUpperCase()"
                       [class.classIncorrecto]="classIncorrectoPro"
                       placeholder="ej. ASC0123" (keyup.enter)="infoProducto()" ></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label stacked>Codigo de Barras</ion-label>
            <ion-input type="text" [(ngModel)]="codBarras"
                       placeholder=""></ion-input>
            <button (click)="escanearCodigo()" ion-button item-end icon-only>
              <ion-icon name="camera"></ion-icon>
            </button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label stacked>Descripción</ion-label>
            <ion-input type="text" [class.classIncorrecto]="classIncorrectoPro"
                       [(ngModel)]="descripcion" type="text"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label stacked>Precio por Kilo</ion-label>
            <ion-input [(ngModel)]="precioKilo" (change)="calculaPrecioFinal()" type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Peso Stock</ion-label>
            <ion-input [(ngModel)]="pesoStock" (change)="calculaPrecioFinal()" type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>P. Zona Franca</ion-label>
            <ion-input type="number" (change)="calculaPrecioFinal()" [(ngModel)]="precioZonaLibre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>% Gastos %</ion-label>
            <ion-input type="number" (change)="calculaPrecioFinal()" step="any"
                       [(ngModel)]="porcentajeGastos"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label stacked>Gastos</ion-label>
            <ion-input type="number" (change)="calculaPrecioFinal()" step="any" disabled
                       [(ngModel)]="montoGasto"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Precio Compra</ion-label>
            <ion-input [(ngModel)]="precioCompra" (change)="calculaPrecioFinal()" type="number" readonly></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Precio Venta</ion-label>
            <ion-input type="number" [(ngModel)]="precioVenta " step="any" (change)="calculaPrecioFinal()"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Precio Mercado</ion-label>
            <ion-input type="number" [(ngModel)]="precioMercado" step="any" (change)="calculaPrecioFinal()"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label stacked>Mensaje</ion-label>
            <ion-input type="text" [(ngModel)]="mensaje" type="text"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-row *ngFor="let item of mdlAmbiente" >
        <button class="btn-list" ion-button color="style-sucursales-{{item.propio}}">
          <p *ngIf="item.propio==1; else a1">
            {{item.nombreAmbiente}} - {{item.cantidad}}
          </p>
          <ng-template #a1>
            <a *ngIf="item.propio==0" class="button">{{item.nombreAmbiente}} - {{item.cantidad}}</a>
          </ng-template>
        </button>
      </ion-row>
    </ion-row>

  </ion-grid>
  <ion-fab top right #fab>
    <button ion-fab color="danger">
      <ion-icon name="more"></ion-icon>
    </button>
    <ion-fab-list side="left">
      <button ion-fab color="secondary" (click)="confirmarEliminado(fab)">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button ion-fab color="secondary" (click)="reportesPedidos(fab)">
        <ion-icon name="print"></ion-icon>
      </button>
    </ion-fab-list>
    <ion-fab-list side="bottom">
      <button ion-fab color="primary" (click)="confirmarGuardado(fab)"><img class="itm-img" src="assets/img/save.svg"/>
      </button>
      <!-- button ion-fab color="naranja" (click)="filtrarArticulo(fab)">
        <ion-icon name="list"></ion-icon>
      </button-->
    </ion-fab-list>
  </ion-fab>

</ion-content>
