<!--
  Generated template for the ModalLlegadasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="cafe-claro">
    <ion-title>{{titulo}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="listarPedidos()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid class="grilla-pedidos">
    <ion-row (click)="listarPedidos()">
      <ion-col (click)="listarPedidos()">
        <ion-item>
          <ion-label class="titulos" stacked>Codigo</ion-label>

        </ion-item>
      </ion-col>
      <ion-col (click)="listarPedidos()">
        <ion-item>
          <ion-label class="titulos" stacked>Fecha</ion-label>

        </ion-item>
      </ion-col>
      <ion-col (click)="listarPedidos()">
        <ion-item>
          <ion-label class="titulos" stacked>No Mov</ion-label>

        </ion-item>
      </ion-col>
      <ion-col (click)="listarPedidos()">
        <ion-item>
          <ion-label class="titulos" stacked>Observación</ion-label>

        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-scroll scrollX="true" scrollY="true" style="width: 100%; height: 150px">
    <ion-grid  class="grilla-pedidos">
      <ion-row class="seleccionado grillas" *ngFor="let item of listaPedidos.list" (click)="listarArticulos(item.lista, item.id, item)" ngClass="background: color($colors, cafe-suave);">
        <ion-col (click)="onSeleccionado(item)">
          <ion-item class="grillas estilizado " (click)="filtrarPorCodigo(item.codigoProveedor)">
            <ion-label stacked class="wrap label label-md {{item.seleccionado}}">{{item.codigoProveedor}}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col (click)="onSeleccionado(item)">
          <ion-item class="grillas">
            <ion-label stacked class="wrap label label-md {{item.seleccionado}}">{{item.fechaMovimiento}}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col (click)="onSeleccionado(item)">
          <ion-item class="grillas">
            <ion-label stacked class="wrap label label-md {{item.seleccionado}}">{{item.nroMovimiento}}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col (click)="onSeleccionado(item)">
          <ion-item class="grillas estilizado mostrarObservacion" (click)="filtrarPorObservacion(item.observacion)">
            <ion-label stacked class="wrap label label-md {{item.seleccionado}}">{{item.observacion}}
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-scroll>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
        <ion-item class="remarcados">
          <ion-label stacked>Cantidad</ion-label>
          <ion-input type="number" readonly="true" value="{{cantidadPedidos}}"></ion-input>
        </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-item class="remarcados">
            <ion-label stacked>Precio</ion-label>
            <ion-input type="number" readonly="true" value="{{precioPedidos}}"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="grilla-pedidos">
    <ion-row >
      <ion-col>
        <ion-item>
          <ion-label class="titulos" stacked>Codigo</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label class="titulos" stacked>Cantidad</ion-label>

        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label class="titulos" stacked>Precio</ion-label>

        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label class="titulos" stacked>Sub Total</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-scroll scrollX="true" scrollY="true" style="width: 100%; height: 120px">
    <ion-grid class="grilla-pedidos">
      <ion-row  *ngFor="let art of listaArticulosPorPedido" class="grillas">
        <ion-col>
          <ion-item class="grillas">
            <ion-label stacked class="wrap">{{art.codigoArticulo}}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item class="grillas">
            <ion-label stacked class="wrap">{{art.cantidad}}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item class="grillas">
            <ion-label stacked class="wrap">{{art.precio}}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item class="grillas">
            <ion-label stacked class="wrap">{{art.cantidad * art.precio}}
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-scroll>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item class="remarcados">
            <ion-label stacked>Cantidad Total</ion-label>
            <ion-input type="number" readonly="true" value="{{cantidadTotalPedido}}"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-item class="remarcados">
            <ion-label stacked>Precio Total Compra</ion-label>
            <ion-input type="number" readonly="true" value="{{precioTotalPedido}}"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-item class="remarcados">
            <ion-label stacked>Precio Total Venta</ion-label>
            <ion-input type="number" readonly="true" value="{{precioTotalCompra}}"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab bottom right *ngIf="tipoPeticion == 0" >
    <button ion-fab color="danger"><ion-icon name="more"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab color="primary" (click)="confirmarAccion()" ><ion-icon name="cloud-download"></ion-icon></button><!--Por Llegar-->
      <button ion-fab color="secondary" (click)="confirmarEliminar()" ><ion-icon name="trash"></ion-icon></button><!--Por Llegar-->
      <button ion-fab color="naranja" (click)="reportePorLlegar()" ><ion-icon name="print"></ion-icon></button><!--Por Llegar-->
    </ion-fab-list>
  </ion-fab>
  <ion-fab bottom right *ngIf="tipoPeticion != 0" >
    <button ion-fab color="danger"><ion-icon name="more"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab color="cafe-claro" (click)="eliminarPedidoLlegado()" ><ion-icon name="trash"></ion-icon></button><!--Por Llegar-->
      <button ion-fab color="naranja" (click)="reporteLlegadas()" ><ion-icon name="print"></ion-icon></button><!--Por Llegar-->
    </ion-fab-list>
  </ion-fab>
</ion-content>
